#app {
  height: 100vh;
  display: flex;
}

#sidebar {
  width: 200px;
}

#visualizer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.bar {
  background-color: turquoise;
  margin: 1px;
  flex: 1;
}
